.body{
    margin: 0;
    padding:0;
    background: lightgreen;
}

.search{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: lightgreen;
    height: 40px;
    border-radius: 40px;
    padding: 10px
}
.search-button{
    color: black;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-text{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: darkblue;
    font-size: 32px;
    transition:0.4s;
    line-height: 40px;
    width: 0px;
}
.search:hover > .search-text{
    width: 500px;
    padding: 0 6px;
}

